@font-face {
  font-family: 'PT Mono';
  src: url("./fonts/PTMono-Regular.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'Zapfino';
  src: url("./fonts/Zapfino.ttf") format('truetype');
  font-weight: normal;
  font-style: normal;
}
